/* Base CSS */
@font-face {
  font-family: 'codebold';
  src: url('../fonts/CODE_Bold.eot');
  src: url('../fonts/CODE_Bold.eot') format('embedded-opentype'),
   url('../fonts/CODE_Bold.eot.woff2') 
   format('woff2'), url('../fonts/CODE_Bold.eot.woff') 
   format('woff'), url('../fonts/CODE_Bold.eot.ttf') 
   format('truetype'), url('../fonts/CODE_Bold.eot.svg#codebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'codelight';
  src: url('../fonts/CODELight.eot');
  src: url('../fonts/CODELight.eot') format('embedded-opentype'),
   url('../fonts/CODELight.eot.woff2') 
   format('woff2'), url('../fonts/CODELight.eot.woff') 
   format('woff'), url('../fonts/CODELight.eot.ttf') 
   format('truetype'), url('../fonts/CODELight.eot.svg#codelight') format('svg');
  font-weight: normal;
  font-style: normal;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: normal;
    font-family: codelight;
}
body {
  font-family: 'Karla', sans-serif;
}
a:hover { text-decoration: none }
.homepage-slider-wrap{
  background-image: url('../images/hero.jpg');
}
.single-product-item-bg-1{
  background-image: url('../images/women1.png');
}
.single-product-item-bg-2{
   background-image: url('../images/women2.png');
}
.single-product-item-bg-3{
   background-image: url('../images/women3.png');
}
.single-product-item-bg-4{
   background-image: url('../images/women4.png');
}
.single-product-item-bg-5{
   background-image: url('../images/women5.png');
}
.single-product-item-bg-6{
   background-image: url('../images/women6.png');
}
.single-product-item-bg-7{
   background-image: url('../images/women7.png');
}
.single-product-item-bg-8{
   background-image: url('../images/women8.png');
}
.single-product-item-bg-9{
   background-image: url('../images/women9.png');
}
.single-product-item-bg-10{
   background-image: url('../images/women10.png');
}
