/* Base CSS */
@font-face {
  font-family: ' ';
  src: url('../fonts/CODE_Bold.eot');
  src: url('../fonts/CODE_Bold.eot') format('embedded-opentype'),
   url('../fonts/CODE_Bold.eot.woff2') 
   format('woff2'), url('../fonts/CODE_Bold.eot.woff') 
   format('woff'), url('../fonts/CODE_Bold.eot.ttf') 
   format('truetype'), url('../fonts/CODE_Bold.eot.svg#codebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'codelight';
  src: url('../fonts/CODELight.eot');
  src: url('../fonts/CODELight.eot') format('embedded-opentype'),
   url('../fonts/CODELight.eot.woff2') 
   format('woff2'), url('../fonts/CODELight.eot.woff') 
   format('woff'), url('../fonts/CODELight.eot.ttf') 
   format('truetype'), url('../fonts/CODELight.eot.svg#codelight') format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body {
    height: 100%;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: normal;
    font-family: codelight;
}
body {
  font-family: 'Karla', sans-serif;
}
a:hover { text-decoration: none }
.header-top-area a {
   color: #5b3f61;
   display: inline-block;
   padding: 12px;
}
.header-top-area {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 9;
}
.header-left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-left li{
  display: inline-block;
}
.header-top-area a.menu-trigger {
    display: none;
}
.header-right {
    text-align: right;
}
.search-triger i.fa{
  padding-left: 5px;
}
.homepage-slider-wrap{
  background-image: url('../images/hero.jpg');
  background-color: #ddd;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.single-slider-items {
    position: relative;
}
.single-slider-items img {
    position: absolute;
    left: 50%;
    width: 700px;
    margin-left: -350px;
    bottom: 0px;
}
.slider-text-table {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 9;
}
.slider-text-tablecell {
    display: table-cell;
    vertical-align: middle;
    padding-left: 6%;
    font-family: codelight;
    font-size: 120px;
    line-height: 112px;
    color: #e84f88;
}
.owl-carousel .owl-item .single-slider-items img {
    width: auto;
}
.homepage-slider-wrap .owl-nav div {
    position: absolute;
    top: 50%;
    left: 0%;
    line-height: 40px;
    margin-top: -20px;
    color: #e84f88;
    font-size: 20px;
    transition: .3s;
    opacity: 0; 
}
.homepage-slider-wrap :hover .owl-nav div{
  left: 5%;
  opacity: 1
}
.homepage-slider-wrap .owl-nav div .owl-next{
  left:auto;
  right: 0;
}
.homepage-slider-wrap:hover .owl-nav .owl-next{
  left:auto;
  right: 5%;
}
.homepage-slider-wrap .owl-nav, .homepage-slider-wrap .owl-nav div {
    height: auto;
}
.homepage-slider-wrap .owl-nav .owl-next {
    left: auto;
    right: 5%;
}
.slider-text-tablecell strong {

}
.slider-alternative-color {
    color: #6db0c6;
}
.homepage-slider-wrap div {
    height: 100%;
}
.big-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.big-menu li {
    float: left;
    width: 25%;
    font-size: 45px;
    font-family: codelight;
    transition: .2s;
   
}
.big-menu li:hover{
  opacity: .5;
}
.big-menu li a {
    display: block;
    padding: 20px;
    color: #5b3f61;
    text-align: right;
    padding-top: 100px;
    background-color: #ecf3e8;
    text-transform: uppercase;
}
.big-menu li:nth-child(2) a {
    color: #e84f88;
    font-family: codebold;
    background-color: #f1e5e5;
}
.big-menu li:nth-child(3) a {
    background-color: #f6f3e6;
}
.big-menu li:nth-child(4) a {
    background-color: #ecf4f5;
}
.big-menu li:nth-child(2) , .big-menu li:nth-child(3) {
  width: 20%;
}
.big-menu li:nth-child(1) , .big-menu li:nth-child(4) {
  width: 30%;
}
.products-area {
    padding-top: 100px;
}
.product-list {
    margin-left: -2%;
    overflow: hidden;
}

.single-product-item-bg-1{
  background-image: url('../images/women1.png');
}
.single-product-item-bg-2{
   background-image: url('../images/women2.png');
}
.single-product-item-bg-3{
   background-image: url('../images/women3.png');
}
.single-product-item-bg-4{
   background-image: url('../images/women4.png');
}
.single-product-item-bg-5{
   background-image: url('../images/women5.png');
}
.single-product-item-bg-6{
   background-image: url('../images/women6.png');
}
.single-product-item-bg-7{
   background-image: url('../images/women7.png');
}
.single-product-item-bg-8{
   background-image: url('../images/women8.png');
}
.single-product-item-bg-9{
   background-image: url('../images/women9.png');
}
.single-product-item-bg-10{
   background-image: url('../images/women10.png');
}
/*.single-product-item{
     height: 300px!important;
     background-position: center!important;
     background-repeat: no-repeat!important;
     margin-left: 2%!important;
     margin-bottom: 20px!important;
     width: 18%!important;
     float: left!important;
}*/
.load-more-product-btn {
    display: block;
    background-color: #f9f9f8;
    color: #e84f88;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-top: 49px;
    margin-bottom: 48px;
}
.product-promotions {
    background-color: #f8f5f5;
}
.single-product-promotion img {
    width: auto !important;
}
.product-promotions .owl-dots div {
    height: 15px;
    width: 15px;
    background-color: #ddd;
    border-radius: 16px;
    margin-bottom: 10px;
}
.product-promotions .owl-dots div:active {
   
    background-color: red;

}
.product-promotions .owl-dots {
    position: absolute;
    right: 3%;
    top: 50%;
    margin-top: -3%;
}
.promo-bg {
    background-color: #f4f0f0;
}
.promo-content {
    padding: 50px 21px;
    line-height: 2;
}
.promo-title {
    position: relative;
    color: #e84f88;
    margin-bottom: 20px;
}
.promo-title h2 {
    font-size: 48px;
    margin: 0 0 5px;
}
.prmo-text {
    max-width: 580px;
}
.promo-title span, year-text {
    position: absolute;
    left: 32%;
    font-size: 110px;
    opacity: 0.2;
    color: #51abc8;
    line-height: 94px;
    top: 31px;
}
.boxed-btn {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #51abc8;
    color: #fff;
    padding: 4px 20px;
    margin-top: 20px;
}
.brand-images {
    margin: 52px 22px;
}
.footer-area {
    background: #f4f4f4;   
    padding: 54px 0;
}
}
.footer-area, .footer-area a {
    color: #919191;
}
.footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-menu li {
    display: inline-block;
    padding-left: 20px;
}
.social-links{
  margin-bottom: 10px;
}
.social-links a {
    display: inline-block;
    padding-left: 9px;
    font-size: 120%;
}
.footer-menu {
    margin-top: 10px;
}
input[type="email"] {
    min-width: 321px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #897e93;
    padding: 10px 20px;
}
input[type="submit"] {
    background-color: #e84f88;
    color: #fff;
    font-weight: bold;
    padding: 9px 20px;
    font-size: 16px;
    border: none;
}
.footer-menu a, .social-links a{
  color: #919191;
}